body {
    background-image: url(https://downloadwap.com/thumbs2/wallpapers/p2ls/new/37/GGbeOySrqW.jpg);
    background-size: cover;
    width: 100%;
    // min-height: 100vh;
}

.index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

div {
    color: black;
    border-radius: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.lego-name {
    font-size: medium;
    color: white;
}

input {
    color: white;
}

a {
    color: white;
}