body {
    height: 100vh;
    // margin: 0 100px;
    background-image: url(./Images/lego-background.png);
    // background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

div {
    color: black;
    border-radius: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.lego-name {
    font-size: medium;
    color: white;
    background-color: black;
}

.lego-index {
    background-color: white
}

input {
    color: white;
}

a {
    color: white;
}